/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  position: relative;
  width: 80%;
  height: 90%;
  box-shadow: 5px 10px 5px 10px white;
  padding: 20px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

.title{
  color: white; 
}