/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  position: relative;
  width: 60%;
  height: 100%;
  box-shadow: 5px 5px 5px 5px rgba(255, 255, 255, 0.3);
  padding: 20px;
  margin: auto;
  margin-top: 0px;
  text-align: center;
  background: linear-gradient(45deg, #2E477E 30%, #C8D4EB 90%);
}

.title{
  color: white; 
}

.title i{
  margin-right: 10px;
}

/* search input */

.search{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search input{
  width: 90%;
  height: 40px;
  padding: 5px;
  border: 1px solid black;
  background: #FFFBE9;
  border-radius: 10px;
  margin: 0 auto;
}

.search button{
  color: white;
  font-weight: bold;
  width: 10%;
  height: 40px;
  padding: 5px;
  border: none;
  border-radius: 10px !important;
  background: linear-gradient(45deg, #304a83 30%, #172c53 90%);
  margin-left: 10px;
  cursor: pointer;
}

.search button:hover{
  background: white;
  color: #172c53;
}

/* main */

.main-container{
  width: 100%;
  height: auto;
  color: white;
  text-align: center;
  margin-top: 50px;
}

.main-container h4{
  font-size: 25px;
}

/* icona (sole) */

.main-container .icon img{
  width: 60px;
  height: 60px;
  animation: iconanimation 3s infinite;
  animation-direction: alternate;
}

@keyframes iconanimation{
  from{
    transform: scale(0.8,0.8);
  }
  to{
    transform: scale(1,1);
  }
}
/* search results */

.temprature h4{
  font-size: 30px;
}

.city h4 i {
  margin-right: 15px;
  animation: cityicon 3s infinite;
}

@keyframes cityicon {
  0%{
    transform: rotateY(0deg);
  }
  50%{
    transform: rotateY(180deg);
  }
  100%{
    transform: rotateY(360deg);
  }
}

/* loader */
.loader-container{
  margin: 15%;
}

/* responsive */

@media only screen and (min-width: 600px){
  .search-form input{
    width: 70%;
  }
  .search button{
    width: 25%;
  }
}

@media only screen and (max-width: 600px){
  .search-form input{
    width: 70%;
  }
  .search button{
    width: 25%;
  }
}

@media only screen and (min-width: 768px){
  .search-form input{
    width: 80%;
  }
  .search button{
    width: 18%;
  }
}

@media only screen and (min-width: 992px){
  .search-form input{
    width: 80%;
  }
  .search button{
    width: 18%;
  }
}

@media only screen and (min-width: 1200px){
  .search-form input{
    width: 90%;
  }
  .search button{
    width: 8%;
  }
}

