/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  position: relative;
  width: 80%;
  height: 90%;
  box-shadow: 5px 10px 5px 10px white;
  padding: 20px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

.title{
  color: white; 
}

.search{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search input{
  width: 90%;
  height: 40px;
  padding: 5px;
  border: 1px solid black;
  background: #FFFBE9;
  border-radius: 10px;
  margin: 0 auto;
}

.search button{
  width: 10%;
  height: 50px;
  padding: 5px;
  border: none;
  border-radius: 10px !important;
  background: indianred;
  cursor: pointer;
}

.search button:hover{
  background: khaki;
}

.main-container{
  width: 100%;
  height: auto;
  color: white;
  text-align: center;
  margin-top: 50px;
}

.main-container h4{
  font-size: 25px;
}